*{
    text-decoration: none;
    list-style: none;
    margin: 0;
}
@font-face {
    font-family:roboto ;
    src: url(../fonts/fonts.txt);
}
h1{
    text-transform: uppercase;
}

h2{
    text-transform: uppercase;
}

nav{
    margin: 2rem;
    padding: 0 15%;
    text-transform: uppercase;
}
.navbar{
    display: flex;
    justify-content: center;
    justify-content: space-around;
}
.btn{
    color: black;
    
}
.navbar .btn:not(:last-child){
    border-right: 1px solid black;
}

h1{
    color: white;
    display: flex;
    justify-content: center;
    padding-top: 8%;
    
}
#head{
    background-image: url(../image/banner.jpg);
    background-size: cover;
    background-position: center;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#head .logo{
    width: 50%;
}




#savoir{
    text-align: center;
    margin-top: 6rem;    
}

#savoir h2{
    padding-bottom: 3rem;
}
#savoir p{
    margin: 3rem;
}

#savoir a{
   display: flex;
   justify-content: center;
   margin-top: 3rem;
   background-color: red;
   padding: 1rem;
   margin: 1rem;
   display: inline-block;
   color: white;
}
h2{
    display: flex;
    justify-content: center;
    margin: 2rem;
}
.corp{
    display: flex;
    margin: 2rem;
    justify-content: space-around;

}

 .cart1{
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    width: 30%;
    height: 400px;
    background-color: rgb(48, 46, 46);

 }
.img1{
    background-image: url(../image/new-monsters.jpg);
    width: 100%;
    height: 50%;
    background-size: cover;
    
}
.cart1 h3{
    color: white;
    margin: 1rem;
}
.cart1 p{
    color: white;
    margin: 2rem 2rem;
}

.cart2{
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    width: 30%;
    height: 400px;
    background-color:  rgb(48, 46, 46);
}
.img2{
    background-image: url(../image/new-graphism.jpg);
    width: 100%;
    height: 50%;
    background-size: cover;
}
.cart2 h3{
    color: white;
    margin: 1rem;
}
.cart2 p{
    color: white;
    margin: 2rem 2rem;
}

.cart3{
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    width: 30%;
    height: 400px;
    background-color:  rgb(48, 46, 46);
}
.img3{
    background-image: url(../image/new-gameplay.jpeg);
    width: 100%;
    height: 50%;
    background-size: cover ;
}
.cart3 h3{
    color: white;
    margin: 1rem;
}
.cart3 p{
    color: white;
    margin: 2rem 2rem;
}

.formulaire{
    display: inline-block;
    background-color: rgb(48, 46, 46) ;
    width: 100%;
    height: 200px;
    text-align: center;
}

.formulaire h2{
    color: white;
}

.formulaire div{
    display: flex;
    justify-content: center;
}

div input{
    width: 10rem;
    height: 3rem;
    border: 1px solid black;
    background-color: white;
    border-radius: 10px;
    margin-right: 2rem;
}
div button{
    background-color: red;
    border: px solid black;
    color: white;
    margin-left: 2rem;
    width: 10rem;
    height: 2rem;
    border-radius: 10px;
}

footer{
    background-color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
footer img{
    width: 5%;
    padding: 1rem 0;
}

footer .footbar{
    color: white;
    display: flex;
    padding: 0;
}
footer .footbar li a{
    padding: 0 1rem;
}

footer .footbar li:not(:last-child) a{
    border-right: white solid 1px;
} 
footer a{
    color: white;
}
@media screen and (max-width: 900px ) {
    footer{
        flex-direction: column;
        align-items: center;
    }
    .footbar{
        flex-direction: column;
        align-items: center;

    }
    .footbar a{
        margin 2rem
    }  
    #head h1{
        font-size: 60%;

    }
    footer .footbar li:not(:last-child) a{
        border-right: none;
    }
    footer img{
        width: 25%;
        padding: 1rem 0;
    }
}
@media screen and (max-width: 700px){
    .navbar{
        flex-direction: column;
        align-items: center;
    }
    .navbar .btn{
        padding: 1rem;
        margin: 1rem;
    }
    #head .logo{
        width: 70%;
    }
    .corp{
        flex-direction: column;
    }
    .cart1,.cart2,.cart3{
        width: 90%;
        margin: 0 auto;
        margin-bottom: 3rem;
    }
   
}